* {
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    /* background-color: #333333; */
}

.hdr {
    background-color: #333333;
    /* margin: 0 10%; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.hdrcnt1,
.hdrcnt2 {
    padding: 0.5rem;
}

.hdrcnt1 img {
    height: 20px;
    width: 30px;
}

.hdrcnt1 span,
.hdrcnt1 a {
    font-size: 12px;
    color: #cccccc;
}

.hdrcnt1 a {
    text-decoration: none;
}

.hdrcnt2 a {
    font-size: 12px;
    color: #cccccc;
    text-decoration: none;
}

.hdrcnta {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 0 0 10%;
}

.hdrcntb {
    width: 20%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.location {
    display: flex;
    vertical-align: middle;
}

.hdrcntb span {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #cccccc;
}

.hdr .fa-greater-than {
    rotate: 90deg;
    /* transform: translateX(2px); */
}

.size {
    height: 20px;
    width: 20px;
}

.sizeicon {
    font-size: 12px;
    color: #cccccc;
    text-align: center;
    border: solid #cccccc 0.1rem;
    border-radius: 50%;
}

.navbar {
    background: #ffffff;
    height: 60px;
    border-bottom: 1px solid rgba(209, 209, 209, .5);
}

.showsearchbar {
    position: absolute;
    height: 48px;
    width: 810px;
    background-color: #FFFFFF;
    transform: translateY(-35px) translateX(-790px);
    display: none;
}

.searchbaritems svg {
    height: 24px;
    width: 24px;
    margin-top: 6px;
}

.searchbaritems {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 50px;
    height: 48px;
    width: 728px;
    border: 1px solid rgba(209, 209, 209, .5);
    border-radius: 0.5rem;
    background-color: #FFFFFF;
}

.searchbaritems input {
    font-size: 14px;
    line-height: 24px;
    width: 637px;
    font-family: sans-serif;
    margin-top: 6px;
    border: none;
    outline: none
}

.mbox {
    position: absolute;
    margin: 1rem;
    border: 1px solid rgba(209, 209, 209, .5);
    border-radius: 1rem;
    width: 227px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 2px #66666665;
    transform: translateY(0.5rem) translateX(-115px);
    display: none;
}

.mbox a {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #666666 !important;
    padding: 15px 20px;
    border: 0;
    border-bottom: 1px solid rgba(209, 209, 209, .5);
    width: 100%;
    background-color: transparent;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.navitem span {
    font-family: sans-serif;
    color: #666666;
    font-size: 14px;
}

.navitems a {
    text-decoration: none;
    color: #666666;
}

.navitems {
    margin: 0 10%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button.navregi {
    font-size: 14px;
    font-family: sans-serif;
    color: #FFFFFF;
    background-color: #DF6E12;
    text-transform: uppercase;
    height: 38px;
    padding: 0 1rem;
    border-radius: 10px;
    text-decoration: none;
    border-style: none;
}

button.navlogi {
    font-size: 14px;
    font-family: sans-serif;
    color: #DF6E12;
    background-color: #ffffff;
    text-transform: uppercase;
    height: 38px;
    padding: 0 1rem;
    border-radius: 10px;
    text-decoration: none;
    border: solid #DF6E12 0.1rem;
}

.schemes:hover,
.reccomendation:hover,
.skillcourse:hover,
.jobxcnge:hover,
.skillcntr:hover,
.skillindiamap:hover,
.more:hover {
    span {
        color: #DF6E12;
    }

    svg path {
        fill: #DF6E12;
    }

    .white-fill {
        fill: white;
    }
}

.vnavbar {
    transform: translateY(7rem) translateX(98%);
    position: fixed;
}

.call a,
.learning-resources a,
.imp-links a,
.dashboard a,
.announcement a {
    text-decoration: none;
    color: #042CB0;
    font-size: 20px;
    font-family: sans-serif;
}

.imp-links span,
.dashboard span {
    text-decoration: none;
    color: #042CB0;
    font-size: 20px;
    font-family: sans-serif;
}

.call,
.learning-resources,
.imp-links,
.dashboard,
.announcement {
    a {
        padding-top: 8px;
        width: 1500px;
    }

    svg {
        margin: 0 0.8rem;
    }
}

.call,
.learning-resources,
.imp-links,
.dashboard,
.announcement {
    display: flex;
    height: 52px;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 20px 2px #042cb065 !important;
    background-color: #FFFFFF;
}

.imp-links,
.dashboard {
    flex-direction: column;

    .ilhide a,
    .dashide a {
        font-family: sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-transform: capitalize;
        color: #666666;
        padding: 0;
        margin-bottom: 15px;
        width: 100%;
        border: 0;
        text-align: left;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.ilhide,
.dashide {
    background-color: #FFFFFF;
    padding: 0.7rem;
    display: none;
}

.ilhide a:hover,
.dashide a:hover {
    color: #042CB0;
}

.dashide {
    max-height: 200px;
    overflow-x: auto;
    width: 17%;
}

.imp-links:hover {
    height: 170px !important;

    .ilhide {
        display: block;
    }

}

.dashboard:hover {
    height: 240px !important;

    .dashide {
        display: block;
    }
}

.call:hover,
.learning-resources:hover,
.imp-links:hover,
.dashboard:hover,
.announcement:hover {
    transform: translateX(-200px);
    transition: 0.5s;
}

.hamnavbar {
    display: none;
}

body {}

.skill-india-banner {
    width: 100%;
}

.web-cover {
    width: 100%;
    height: 660px;
}

.web-cover-4k,
.web-cover-2k,
.laptop-cover,
.small-laptop-cover,
.tablet-cover,
.mobile-cover {
    display: none;
}

#first {
    /* transform: translateY(-25%); */
}

#fstjx {
    display: none;
}

#fstskilc {
    display: none;
}

.first-container {
    margin: 5% 10%;
    width: 80%;
}

.fst-cntnr-1 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.fst-cntnr-1 h1 {
    font-size: 22px;
    font-family: sans-serif;
    width: 93px;
    font-weight: 400;
    margin-left: 10%;
}

.fst-emp span {
    font-size: 40px;
    font-family: sans-serif;
    /* width: 93px; */
    font-weight: 700;
    color: #042CB0;
    transform: translateX(40%) translateY(-3%);
}

.fst-norm span {
    font-size: 40px;
    font-family: sans-serif;
    /* width: 93px; */
    font-weight: 400;
    color: #042CB0;
    transform: translateX(-10%) translateY(-7%);
}

.fst-emp i {
    transform: translateX(-170px) translateY(57px);
}

.fst-emp {
    width: 355px;
    height: 105px;
    border-bottom: solid #DF6E12 0.3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    color: #333333;
    align-items: center;
    background-color: #fdf2e9;
}

.fst-norm {
    width: 355px;
    height: 105px;
    border: solid #cccccc 0.1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    color: #666666;
    align-items: center;
}

.fst-cntnr-2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 5% 0;
}

.fst-cntnr-2 h4 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    line-height: 19px;
    margin-left: 3%;
    margin-top: 1rem;
}

.fst-cntnr-2-search {
    display: flex;
    width: 660px;
    height: 50px;
    justify-content: space-evenly;
    box-shadow: 0 0 20px #666666;
    border-radius: 0.5rem;
    transform: translateX(-5%);
}

.fst-cntnr-2-search:hover {
    border: solid #000000 0.1rem;
}

.fst-cntnr-2-search svg {
    margin-top: 1rem;
}

.fst-cntnr-2-search button {
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    color: #ffffff;
    background-color: #DF6E12;
    text-transform: uppercase;
    height: 38px;
    padding: 0 1rem;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    height: 40px;
    width: 124px;
    margin: 5px -5px;
}

.fst-cntnr-2-search input {
    outline: none;
    border: none;
    width: 480px;

}

.fst-cntnr-3 {
    display: flex;
    margin: 5% 0;
    width: 100%;
    justify-content: space-evenly;
}
#fstjx .sccard:hover{
    box-shadow: 0 0 10px #666666;
}
#fstjx .sccard {
    background: #ffffff !important;
    height: 310px;
    width: 260px;

    button {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: radial-gradient(#cccccc 50%);
        top: 50%;
        left: 50%;
        border: none;
        transform: translateY(-0.5rem);
        margin-bottom: 1rem;
    }

    h4 {
        font-family: sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #333333;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        padding-left: 0;
        margin-bottom: 10px;
        line-height: normal;
        flex-grow: 1;
        min-height: 24px;
        max-height: 24px;
        word-break: break-word
    }

    h5 {
        font-family: sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #333333;
        margin-bottom: 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        height: 20px;
    }

    p {
        font-family: sans-serif;
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        border-radius: 10px;
        text-transform: capitalize;
        margin: 0;
        color: #333333;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        word-break: break-all;
        margin-bottom: 1rem;
    }

    svg {
        margin-right: 0.5rem;
    }

    .cardtime path {
        fill: #000000;
    }

    .card-count path {
        fill: #000000;
    }

    .online-tag p {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        height: 40px;
        width: 70px;
        color: #ffffff;
        background: #042CB0;
        border-radius: 0 10px;
        padding-top: 0.5rem;
        text-align: center;
        transform: translateX(190px);
    }

    .card-rating {
        display: flex;

        p {
            font-family: sans-serif;
            font-weight: 700;
            font-size: 18px;
            color: #333333;
            margin: 0;
            flex-grow: 1;
        }
        span{
            color: #333333;
            font-size: 18px;
        }
        svg{
            height: 16px;
            width: 16px;
            margin-top: 0.3rem;
        }

        path {
            fill: #000000;
            height: 12px;
            width: 8px;
        }
        .card-view{
            color: #000000 !important;
        }
    }
}

.sccard {
    height: 235px;
    width: 250px;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-out;
    background: radial-gradient(#111 50%, #000 100%);
}

.sccard img {
    max-width: 100%;
    height: 250px;
    vertical-align: middle;
    border-style: none;
    position: absolute;
    opacity: 0.5;
}

.sccard:hover {
    img {
        transform: scale(1.3);
        transition: all 0.7s ease-out;
    }
}

.online-tag p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    height: 33px;
    width: 70px;
    color: #ffffff;
    background: #042CB0;
    border-radius: 0 10px;
    padding-top: 0.3rem;
    text-align: center;
    transform: translateX(180px);
}

.carddtails {
    margin: -10% 10%;
    position: relative;
}

.cardtail h2 {
    max-width: 162px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 22px;
    flex-grow: 1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 45px;
    color: #FFFFFF;
}

.sccard svg {
    height: 16px;
    width: 16px;

}

.cardtime p,
.card-count p {
    margin-left: 10px;
}

.cardtime {
    display: flex;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: -5%;

    path {
        fill: #FFFFFF;
    }
}

.card-count {
    display: flex;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;

    path {
        fill: #FFFFFF;
    }
}

.card-view {
    display: flex;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    color: #FFFFFF;
}

.card-view svg {
    margin-top: 0.1rem;
    margin-left: 0.5rem;
    height: 20px;
    width: 20px;
}

.card-rating span {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    margin-left: 0.4rem;
}

.card-rating {
    margin-bottom: 1rem;
}

#second {
    padding-bottom: 3rem;
}

.buildingaskilledindia {
    margin: 0 15%;
    width: 70%;
}

.buildingaskilledindia h2 {
    font-size: 32px;
    color: #000000;
}

.buildingaskilledindiaheader {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.basicardslist {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.basicarditem {
    width: 33.33%;
    padding: 20px 0;
}

.basicarditem:hover {
    transform: scale(1.1);
    transition: all 1s ease;
}

.basicarditem p {
    font-size: 16px;
    color: #000000;
    margin: 0, 25.5px;
    font-family: sans-serif;
    font-weight: 400;
    text-align: center;
}

.basicarditem h3 {
    font-size: 24px;
    color: #000000;
    margin: 30px 0 10px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
}

.basicarditem img {
    margin: 0 55.5px;
}

.registerbutton {
    display: flex;
    justify-content: center;
}

button.regi {
    font-size: 16px;
    font-family: sans-serif;
    color: #FFFFFF;
    background-color: #DF6E12;
    text-transform: uppercase;
    height: 50px;
    width: 135px;
    border-radius: 10px;
    text-decoration: none;
    border-style: none;
}

#sixth {
    transform: translateY(50px);
}

button.regi:hover {
    transform: scale(1.1);
}

#third {
    background-color: #f1f1f1;
}

.opportunities {
    padding-top: 4rem;
    display: flex;
    justify-content: end;
}

.opportunities button {
    height: 60px;
    width: 320px;
    background: #FFFFFF;
    box-shadow: 0 0 20px 2px #042cb00d;
    border-radius: 70px;
    margin-bottom: 20px;
    border: none;
    padding: 4px 20px 4px 4px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.opportunities a {
    text-decoration: none;
}

.opportunities span {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #042CB0;
    margin-left: 10px;
    margin-right: 10px;
}

.opporcardslist {
    display: flex;
    margin: 0 10%;
    padding-top: 2rem;
    padding-bottom: 7rem;
    width: 80%;
    justify-content: space-evenly;
}

.opporcards {
    width: 32%;
    margin-left: 2%;
    background: #FFFFFF;
    box-shadow: 0 0 20px 2px #042cb00d;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    align-items: baseline;
}

.opporcards:hover,
.opporcards-orange:hover {
    transform: scale(1.1);
    transition: all 1s ease;
}

.searchbox {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
    width: 250px;
    border-bottom: solid #636363 0.05rem;
}

.searchboxip input {
    text-decoration: none;
    border-color: transparent;
}

.searchbox input:focus {
    outline: none;
}

.searchboxsvg,
.searchboxip,
.searchicon {
    padding-top: 1.5rem;
    margin: 0.5rem 0;
}

.searchboxip input {
    color: #636363;
    font-size: 14px;
    vertical-align: middle;
}

.service-card-inner h3 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #333333;
    margin: 0 0 10px;
}

.service-card-inner h4 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    color: #000000;
    margin-bottom: 20px;
}

.service-card-inner img {
    height: 142px;
    width: 157px;
}

.service-card-inner p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    min-height: 28px;
    margin: 0 0 12px;
}

.service-card-inner button.btn-primary-style1 {
    font-size: 16px;
    font-family: sans-serif;
    color: #FFFFFF;
    background-color: #DF6E12;
    padding: 0 1rem;
    text-transform: uppercase;
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
    border-style: none;
}

.opporcards-orange {
    width: 32%;
    margin-left: 2%;
    background: #DF6E12;
    box-shadow: 0 0 20px 2px #042cb00d;
    border-radius: 10px;
    padding: 50px 40px;
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    align-items: baseline;
}

.service-card-inner-orange h4 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    margin-bottom: 40px;
}

.service-card-inner-orange h3 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin-bottom: 20px;
}

.services-card-header {
    display: flex;
    justify-content: space-evenly;
}

.services-card-header h4 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-right: 20px;
    max-width: 190px;
}

.quetion-img {
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 14px 24px;
    display: flex;
    align-items: center;
    right: -20px;
    top: -20px;
    position: relative;
}

.services-footer-btn p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0 0 10px;
    min-height: auto;
    transform: translateY(1rem);
}

.btn-primary-special {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #042CB0;
    padding: 10px 30px;
    border-radius: 10px;
}

.services-footer-btn {
    transform: translateY(5rem);
    display: flex;
    justify-content: space-between;
}

.carousel-indicators [data-bs-target] {
    padding-top: 5rem;
    background-color: #042CB0 !important;
}

.carousel-indicators {
    transform: translateY(4rem);
}

.carousel-item {
    height: 450px;
    padding-top: 3rem;
}

.carthings {
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    width: 85%;
}

.carousel-item img {
    height: 405px;
}

.cardesc {
    width: 60%;
    margin: 110px 10%;
}

.cardesc h2 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #333333;
    margin: 0 0 20px;
    max-width: 600px;
}

.cardesc p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #767676;
    margin: 0 0 40px;
}

.cardesc button {
    font-family: sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF !important;
    background-color: #DF6E12 !important;
    box-shadow: none;
    border: 2px solid #DF6E12;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    word-break: break-word;
}

#fifth {
    margin-top: 7rem;
    background-color: yellow;
    /* background: url("https://www.skillindiadigital.gov.in/testimonial-bg.f5a7a75e9f3d628b.svg"); */
    background-repeat: no-repeat;
}

.testflex {
    margin: 0 10%;
    width: 80%;
    display: flex;
}

.download {
    margin: 0 15%;
    width: 70%;
    display: flex;
}

.clmn {
    width: 50%;
}

.rdown h2 {
    font-size: 32px;
    color: #042CB0;
    margin: 0 0 16px;
    font-weight: 600;
    font-family: sans-serif;
}

.rdown p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #666666;
    mix-blend-mode: normal;
    margin: 0;
    padding: 0 0 42px;
}

.rdown2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 75%;
}

.rdown2 span {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    max-width: 110px;
    margin: 20px 10px 0;
    position: absolute;
}

.rdown2item a img {
    margin-top: 25px;
}

.rdown2item {
    align-items: center;
}

.appstore {
    display: flex;
    justify-content: space-between;
}

.appstore img {
    margin-left: 1rem;
}

.fst {
    margin-top: 300px;
}

footer {
    background-color: #042CB0;
    margin-top: 5rem;
}

.ftrlogo {
    height: 100px;
    background-color: #FFFFFF;
    margin: 0 15%;
    border-radius: 1rem;
    transform: translateY(-50px);
}

.lglist {
    display: flex;
    justify-content: space-evenly;
}

.lglist img {
    height: 60px;
    margin-top: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.ftrcnt1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10%;
    padding-top: 2.5rem;
}

.ftrmnu {
    width: 20%;
    margin-bottom: 30px;
}

.ftrmnu2 {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.clm {
    width: 50%;
}

.ftrttl {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 2rem;
}

.ftrmnu2 .ftrttl {
    margin-left: 33%;
}

.ftritmlst li {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-right: 20px;
}

.ftritmlst a {
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.ftrcnt2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 20%;
    margin-bottom: 2rem;
}

.ftrmnu21 {
    width: 50%;
}

.socialmedia {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40%;
}

.ftrmnu21 .ftrttl {
    margin-left: 50%;
}

.ftrmnu22 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.ftrmnu22 .ftrttl {
    margin-left: 0%;
    margin-top: 1.5rem;
}

.socialmedia svg {
    margin: 0.5rem 0.5rem;
}

.qr img {
    height: 70px;
    width: 70px;
    border-radius: 15%;
    margin-left: 25px;
}

.ftrcnt3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 12%;
    padding-bottom: 2rem;
}

.ftrmnu31 {
    width: 50%;
    background-color: #FFFFFF1A;
    border-radius: 0.5rem;
}

.ftrmnu31 h5 {
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 400;
    /* margin: 0 0 12px; */
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    margin-bottom: 2px;
    color: #cccccc;
}

.ftrmnu31 h6 {
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    color: #FFFFFF;
}

.ftrmnu32 {
    margin-left: auto;
}

.count-date {
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

.last-modification,
.divider-data,
.visitor-count {
    margin-left: 0.5rem;
    margin-bottom: 10px;
}

.copy-contain {
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 12px;
    font-weight: 400;
    /* margin: 0 0 10px; */
    color: #FFFFFF;
}

.cr {
    margin-left: 35%;
}

@media only screen and (max-width:1400px) {
    .hdr {
        flex-direction: column;
    }

    .hdr span {
        font-size: 12px;
    }

    .hdrcnta,
    .hdrcntb {
        width: 100%;
        margin: 0;
    }

    .navbar,
    .vnavbar {
        display: none !important;
    }

    .hamnavbar {
        display: block !important;
    }

    .hamnavitem,
    .hamnavitem1,
    .hamnavitem2 {
        display: flex;
        justify-content: space-evenly;
    }

    .hamnavitem {
        margin: 0.7rem 5%;
        width: 90%;
    }

    .hamnavitem1 {
        width: 50%;
        margin-right: 10%;
    }

    .hamnavitem2 {
        width: 40%;
    }

    .show-hambar-items {
        display: flex;
        flex-direction: column;
    }

    .show-hambar-item2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 3rem 7%;
        width: 86%;
    }

    .hamnavbar a {
        text-decoration: none;
    }

    .ham-home,
    .ham-scheme,
    .ham-recc,
    .ham-skillc,
    .ham-jx,
    .ham-sc,
    .ham-sim,
    .ham-more {
        display: flex;
        /* justify-content: space-between; */
        border-bottom: solid #666666 0.01rem;
        margin-top: 1rem;
    }

    .show-hambar-item2 span {
        margin-left: 10%;
        width: 65%;
        margin-bottom: 1.5rem;
        color: #666666;
    }

    .show-hambar-item2 svg {
        height: 24px;
        width: 24px;
        margin-left: 5%;
    }

    .show-hambar-item2 i {
        margin-top: 0.5rem;
    }

    .accounts-popup {
        background: #ffffff;
        position: absolute;
        transform: translateX(-70%) translateY(20%);
        box-shadow: 0 0 20px 2px #66666665;
        border-radius: 0.3rem;
        padding: 0.8rem 0.8rem 0 0.8rem;
        display: none;
    }

    .accounts-popup button {
        width: 96px;
        height: 32px;
        margin-bottom: 0.8rem;
    }

    .show-hambar-items {
        width: 80%;
        display: flex;
        justify-content: left;
        position: absolute;
        background: #ffffff;
        transform: translateX(-10%);
        top: 0;
        border-radius: 0.5rem;
        height: 100%;
        overflow-y: auto;
        display: none;
    }

    .acbtn {
        display: flex;
    }

    .acbtn button {
        margin: 0 0.5rem;
    }

    .show-hambar-item1 {
        width: 90%;
        display: flex;
        margin: 1rem 0;
        justify-content: space-between;
    }

    .hamnavitem1 .cross {
        margin-left: 1rem;
    }

    .show-hambar-item3 {
        display: flex;
        flex-direction: column;
        margin: -10% 10%;
        width: 80%;
        padding-bottom: 5%;
    }

    .show-hambar-item3 a {
        text-decoration: none;
    }

    .show-hambar-item3 span {
        color: #042CB0;
        width: 70%;
        font-size: 14px;
    }

    .show-hambar-item3 svg {
        margin-left: 5%;
        height: 20px;
        width: 20px;
    }

    .show-hambar-item3 i {
        margin-right: 5%;
    }

    .ham-call,
    .ham-lr,
    .ham-impl,
    .ham-dash,
    .ham-ann {
        background-color: #042cb02c;
        margin: 0.5rem 0;
        height: 3rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-cover {
        width: 100% !important;
        display: block;
    }

    .web-cover-4k,
    .web-cover-2k,
    .laptop-cover,
    .small-laptop-cover,
    .tablet-cover,
    .web-cover {
        display: none !important;
    }
    
    .first-container {
        margin: 5% 10%;
        width: 80%;
    }
    
    .fst-cntnr-1 {
        height: 130px;
        overflow-x: auto;
    }
    
    .fst-cntnr-1 h1 {
        width: 100%;
        text-wrap: nowrap;
        margin-top: -12%;
    }
    
    .fst-emp span {
        font-size: 24px;
        transform: translateX(0) translateY(0);
    }
    
    .fst-norm span {
        font-size: 24px;
        transform: translateX(0) translateY(0);
    }
    
    .fst-emp i {
        transform: translateX(0) translateY(0);
    }
    #fstsc{
        .fst-emp span{
            transform: translateX(-130px) translateY(15px);
        }
        .fst-emp i{
            transform: translateX(-130px) translateY(47px);
        }
        .jxc span{
            transform: translateX(-140px) translateY(13px);
        }
        .sklc span{
            transform: translateX(-115px) translateY(13px);
        }
        .jxc{
            margin: 0 0.5rem;
        }
    }
    #fstjx{
        .fst-emp span{
            transform: translateX(-140px) translateY(13px);
        }
        .fst-emp i{
            transform: translateX(-140px) translateY(47px);
        }
        .scr span{
            transform: translateX(-130px) translateY(13px);
        }
        .sklc span{
            transform: translateX(-115px) translateY(13px);
        }
        .fst-emp{
            margin: 0 0.5rem;
        }
    }
    #fstskilc{
        .fst-emp span{
            transform: translateX(-115px) translateY(13px);
        }
        .fst-emp i{
            transform: translateX(-115px) translateY(47px);
        }
        .scr span{
            transform: translateX(-130px) translateY(13px);
        }
        .jxc span{
            transform: translateX(-140px) translateY(13px);
        }
        .jxc{
            margin: 0 0.5rem;
        }
    }
    .fst-emp {
        width: 166px;
        height: 88px;
        border-bottom: solid #DF6E12 0.3rem;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        color: #333333;
        align-items: center;
        background-color: #fdf2e9;
    }
    
    .fst-norm {
        width: 166px;
        height: 88px;
        border: solid #cccccc 0.1rem;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        color: #666666;
        align-items: center;
    }

    .fst-cntnr-2 {
        flex-direction: column-reverse;
    }
    
    
    .fst-cntnr-2-search {
        width: 100%;
        height: 45px;
        transform: translateX(0%);
    }
    
    .fst-cntnr-2-search svg {
        margin-top: 0.8rem;
    }
    
    .fst-cntnr-2-search button {
        font-size: 12px;
        height: 35px;
        width: 90px;
    }
    
    .fst-cntnr-2-search input {
        width: 150px;
        font-size: 16px;
    
    }
    #second{
        display: none;
    }
    .secthrd {
        display: flex;
        flex-direction: column-reverse;
    }
    .opportunities{
        width: 80%;
        margin: 0 10%;
    }
    .opporcardslist {
        width: 80%;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .carthings {
        flex-direction: column;
    }

    .carousel-item img {
        height: 200px;
    }

    .carimg {
        display: flex;
        justify-content: center;
    }

    .cardesc {
        width: 100%;
        margin: 55px 5%;
    }

    .cardesc h2 {
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 10px;
    }

    .cardesc p {
        font-size: 14px;
        line-height: 14px;
        margin: 0 0 20px;
    }

    .cardesc button {
        padding: 5px 10px;
    }

    .download {
        flex-direction: column;
    }

    .clmn {
        width: 100%;
    }

    .snd img {
        width: 250px;
    }

    .rdown h2 {
        font-size: 18px;
        margin: 0 0 12px;
        text-align: center;
    }

    .rdown p {
        font-size: 14px;
        padding: 0 0 10px;
        text-align: center;
    }

    .rdown2 {
        width: 100%;
    }

    .rdown2 span {
        font-size: 10px;
        margin: 10px 5px 0;
    }

    .rdown2item a img {
        margin-top: 25px;
        transform: translateX(-2rem);
    }

    .rdown2item {
        align-items: center;
    }

    .appstore {
        flex-direction: column;
        width: 50%;
    }

    .rdownqr img {
        width: 80px;
        transform: translateY(1rem);
    }

    .rdownqr span {
        max-width: 500px;
        margin-left: 2rem;
        transform: translateY(-2.5rem);
    }

    .rdownqr {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 50%;
    }

    .fst {
        margin-top: 100px;
    }

    .ftrlogo {
        height: 50px;
        width: 100%;
        background-color: #FFFFFF;
        border-radius: 0;
        margin: 0;
        transform: translateY(0px);
    }

    .lglist {
        display: flex;
        justify-content: space-evenly;
    }

    .lglist img {
        height: 25px;
        margin-top: 10px;
        padding-left: 0;
        padding-right: 0;
    }

    .ftrmnu,
    .ftrmnu2 {
        width: 100%;
    }

    .ftrmnu21,
    .ftrmnu22 {
        width: 100%;
    }

    .ftrmnu21 .ftrttl {
        margin-left: 0;
        margin-top: 0.4rem;
    }

    .ftrmnu21 {
        display: flex;
        flex-direction: row-reverse;
    }

    .socialmedia {
        margin-left: 0;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .ftrmnu31 {
        width: 100%;
    }

    .cr {
        margin-left: 2.5%;
    }
}